<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <title>Expense Tracker - Monthly Account Summary</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>Monthly Account Summary</h1>-->
<!--    <table>-->
<!--        <thead>-->
<!--            <tr>-->
<!--                <th>Date</th>-->
<!--                <th>Category</th>-->
<!--                <th>Amount</th>-->
<!--                <th>Description</th>-->
<!--            </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--            {% for expense in expenses %}-->
<!--            <tr>-->
<!--                <td>{{ expense.date }}</td>-->
<!--                <td>{{ expense.category }}</td>-->
<!--                <td>{{ expense.amount }}</td>-->
<!--                <td>{{ expense.description }}</td>-->
<!--            </tr>-->
<!--            {% endfor %}-->
<!--        </tbody>-->
<!--    </table>-->
<!--    <p><strong>Total Expenses:</strong> {{ total_expenses }}</p>-->
<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html>
<head>
    <title>Expense Tracker - Send mail option</title>
</head>
<body>
    <h1>Send Mail</h1>
    <form method="post" novalidate class="user">
                          {% csrf_token %}

                          {% for field in form %}
<p>
                                {{field.label_tag}}
                                {% if field.field.required %}<span style="color: red;">*</span>{% endif %}
<br>
                                {{field }}
                                {% if field.help_text %}
<small style="color:grey">{{field.help_text}}</small>
                                {% endif %}


                                {% for error in field.errors %}
<p style="color:red">{{error}}</p>
                                {% endfor %}
</p>
                          {% endfor %}
<button type="submit" class="btn btn-primary btn-user">Update Profile</button>
</form>
</body>
</html>