<!DOCTYPE html>
<html>
<head>
    <title>Expense Tracker - Expense List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        body {
            padding: 20px;
        }

        h1 {
            margin-bottom: 20px;
        }

        .table th,
        .table td {
            vertical-align: middle;
        }

        .actions {
            display: flex;
            justify-content: space-around;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            Expense Tracker
        {% if user.is_authenticated %}
        <li>Hello {{user.username}}</li>
        <a href="{% url 'credentials:logout' %}" class="btn btn-sm btn-primary">Log Out</a>
        {% else %}
        <a href="{% url 'credentials:register' %}" class="btn btn-sm btn-primary">Register</a>
        <a href="{% url 'credentials:login' %}" class="btn btn-sm btn-primary">Log In</a>
<!--            <a href="{% url 'user_detail' user_id=request.user.id %}">User Detail</a>-->
<!--    <a href="{% url 'user_update' user_id=request.user.id %}">Edit User</a>-->
        {% endif %}
        </a>
    </nav>
    <div class="container">
        <h1>Expense List</h1>

        <a href="{% url 'expenseapp:expense_create' %}" class="btn btn-primary mb-3">Create Expense</a>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Amount</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for expense in expenses %}
                <tr>
                    <td>{{ expense.date }}</td>
                    <td>{{ expense.get_category_display }}</td>
                    <td>{{ expense.amount }}</td>
                    <td>{{ expense.description }}</td>
                    <td class="actions">
                        <a href="{% url 'expenseapp:expense_update' expense.pk %}" class="btn btn-sm btn-warning">Edit</a>
                        <a href="{% url 'expenseapp:expense_delete' expense.pk %}" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
                {% endfor %}
<!--            <form action="{% url 'expenseapp:send_monthly_summary' %}" method="post">-->
<!--                {% csrf_token %}-->
<!--                <button type="submit">Send Account Summary Email</button>-->
<!--            </form>-->

            </tbody>
        </table>
    </div>
</body>
</html>

