<!DOCTYPE html>
<html>
<head>
    <title>Expense Tracker - Register</title>
</head>
<body>


<style>
        .form1{
            margin: auto;
            width: 50%;
            margin-top: 120px;
            margin-left: 630px;
        }
</style>


    <div class="form1">
        <h1 style="text-align:centre;font-family: Arial, Helvetica, sans-serif;color:#FFFFFF">Sign Up</h1>
        <h1>Register</h1>
        <form action="register" method="post">
            {% csrf_token %}
            {{ form.as_p }}
          <input type="text" name="username" placeholder="Enter your UserName " style="margin-bottom:2%;padding:1% ;padding-right: 50px;"><br>
          <input type="text" name="first_name" placeholder="Enter your First Name " style="margin-bottom:2%;padding:1% ;padding-right: 50px;"><br>
          <input type="text" name="last_name" placeholder="Enter your last Name " style="margin-bottom:2%;padding:1% ;padding-right: 50px;"><br>
          <input type="email" name="email" placeholder="Enter your Email"style="margin-bottom:2%;padding: 1%;padding-right: 50px;"><br>
          <input type="password" name="password" placeholder="Enter Your Password"style="margin-bottom:2%;padding:1% ;padding-right: 50px;"><br>
          <input type="password" name="password1" placeholder="Confirm Your Password"style="margin-bottom:2%;padding:1% ;padding-right: 50px;"><br>
            <input type="submit" name="Sign Up" style="margin-top:2% ;value"><br>
          <a href="{% url 'login' %}">Already have an account? Log in</a>
        </form>{% for msg in messages %}
    <h2>{{msg}}</h2>
    {% endfor %}</div>


</body>
</html>


